@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// FONT VARIABLES
$default-font-size: 1.6rem;
$font-primary: "Poppins", sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$background-first: #fff8f0;

// RESPONSIVE BREAKPOINT
