<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Navbar -->
    <header class="shadow-sm">
      <nav-bar></nav-bar>
    </header>
    <!-- End -->

    <!-- Jumbotron -->
    <div class="container">
      <div class="jumbotron"></div>
    </div>
    <!-- End -->

    <!-- End Header -->

    <div class="container">
      <select
        name="province"
        id="province"
        class="form-select form-select-lg mt-5 w-75 mx-auto"
        aria-label=".form-select-lg example"
      >
        <option selected disabled hidden>Pilih Provinsi</option>
      </select>
      <select
        name="cities"
        id="cities"
        class="form-select form-select-lg mt-5 w-75 mx-auto"
        disabled
      >
        <option selected disabled hidden>Pilih Kabupaten/Kota</option>
      </select>
      <select
        name="cov"
        id="cov"
        class="form-select form-select-lg mt-5 w-75 mx-auto"
        disabled
      >
        <option disabled selected hidden>COVID/non-COVID</option>
        <option value="1">COVID</option>
        <option value="2">non-COVID</option>
      </select>
      <div class="mx-auto text-center mt-4">
        <button class="btn btn-outline-warning w-75 px-4 py-2" id="btnSearch">
          Cari
        </button>
      </div>
    </div>
  </body>
</html>
