<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Welcoming Page -->
    <div id="welcome">
      <div class="welcome">
        <h1>Data Ketersediaan Kamar Rumah Sakit</h1>
      </div>
    </div>
    <!-- End -->

    <!-- Navbar -->
    <header class="container">
      <nav-bar></nav-bar>
    </header>
    <!-- End -->

    <!-- End Header -->

    <div class="container text-center">
      <select name="province" id="province">
        <option selected disabled hidden>Pilih Provinsi</option>
      </select>
      <select name="cities" id="cities" disabled>
        <option selected disabled hidden>Pilih Kabupaten/Kota</option>
      </select>
    </div>
  </body>
</html>
